:root {
  --main-color: #8e2424;
  --grey: #667085;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

#content {
  max-width: 1280px;
  margin: auto;
  cursor: default;
}

a {
  /* Reset links styles */
  text-decoration: none;
  color: inherit;
}

button {
  /* Default button styles */
  background-color: var(--main-color);
  color: #fff;

  font-size: 1rem;
  font-family: inherit;

  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;

  cursor: pointer;
}

button:hover {
  background-color: #521414;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

p {
  color: var(--grey);
}

strong {
  font-weight: bold;
  color: var(--main-color);
}

.text-alert {
  font-weight: bold;
  color: var(--main-color);
  background-color: #52141405;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 1rem auto;
}

header nav {
  padding: 1rem;
  display: flex;
  align-items: center;
}

header nav #brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin-right: 2rem;

  font-weight: bold;
}

header nav #brand img {
  height: 2rem;
}

header nav ul {
  display: flex;
  color: var(--grey);
}

header nav ul li a {
  padding: 1rem;
}

header nav ul li a:hover {
  color: var(--main-color);
}

header nav .login-buttons {
  /* Thanks to: https://stackoverflow.com/a/33924704/17684307 */
  margin-left: auto;
}

header nav .login-buttons .login {
  background-color: transparent;
  color: var(--grey);
}

header nav .login-buttons .login:hover {
  background-color: #ddd;
  color: #000;
}

header nav .sandwich-button {
  display: none;
  margin-left: auto;
  cursor: pointer;
  padding: 0.5rem;
}

header nav .sandwich-button .sandwich-bar {
  width: 1.5rem;
  height: 3px;
  background-color: var(--main-color);
}

@media (max-width: 900px) {
  header nav ul,
  header nav .login-buttons {
    display: none;
  }

  header nav .sandwich-button {
    display: flex;
    flex-flow: column;
    gap: 3px;
  }
}

section {
  padding: 1rem;
  margin: 5rem 0;
}

section.about-us {
  text-align: center;
}

section.about-us div {
  margin-bottom: 1.5rem;
}

section.about-us p {
  margin: auto;
  max-width: 700px;
  color: var(--grey);
}

section.our-numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 0 3rem;
}

@media (max-width: 1280px) {
  section.our-numbers {
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  section.our-numbers {
    text-align: center;
    grid-template-columns: 1fr;
  }
}

section.our-numbers .highlights-numbers {
  color: var(--main-color);
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1rem;
}

section.our-numbers .highlights-titles {
  font-weight: bold;
  margin-bottom: 1rem;
}

section.open-positions p {
  text-align: center;
  margin-bottom: 1rem;
}

section.open-positions img {
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

section.open-positions h4,
section.open-positions h5 {
  text-align: left;
}

section.open-positions .position {
  padding: 1.5rem;
  border: 1px solid #cdcdcd;
  border-radius: 1rem;
  margin: 1rem;
  cursor: pointer;
  transition: all 500ms;
}

section.open-positions .position:hover {
  transform: scale(1.05);
}

section.employee-comment {
  display: flex;
  flex-flow: column;
  text-align: center;
  background-color: #52141405;
  border-radius: 2rem;
  padding: 2rem;
}

section.employee-comment div:first-of-type {
  margin-bottom: 1rem;
}

section.employee-comment p {
  font-size: 2rem;
  color: #000;
  font-weight: bold;
}

section.employee-comment img {
  width: 4rem;
  border-radius: 50%;
  margin: 1rem auto;
}

section.employee-comment .employee-name {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

section.employee-comment .employee-position {
  color: var(--grey);
}

footer {
  text-align: center;
  background-color: lightgray;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 3rem;
}

footer form {
  display: flex;
  flex-flow: column;
}

footer form label {
  padding: 1rem 0;
}

footer form div {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

footer form div input {
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0 1rem;
}
